@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './button/button.css';
@import './checkbox/checkbox.css';
@import './form-control/form-control.css';
@import './heading/heading.css';
@import './label/label.css';
@import './switch/switch.css';
